<%= form_for(@session) do |f| %>
  <% if @session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row"> 
    <div class="col-sm-4 field">

      <div>
      Our study hopes to answer the question, “How does prior programming experience impact coding strategy?” The study will look for the relationship between prior experience and coding strategies employed by the participant. 

      </div><br>


      <div>
      The study is led by Prof. Fred Martin, Director of Student Success for the Kennedy College of Sciences. It is approved by UMass Lowell’s Institutional Review Board (IRB), which reviews all research conducted with human subjects.</div><br>
       
      <div>
      If you agree to participate, you will be asked questions about basic academic information and your programming background. You will be writing code and sending it to us. We will be taking a snapshot of your buffer every time you press Return (or Enter). The programming task and questions may take about 10 minutes to complete. 
</div><br>
       
      <div>
      As a “thank you” for your participation, we will be giving away one Kennedy College of Sciences sweatshirt in a lottery. The sweatshirt will be given away to a randomly selected participant. If you would like to be entered to win, please make sure to fill in the box that asks you for your email address.  Entering in your email address will not be connected to your survey responses.

      </div><br>


      <div> 
     Although there are no direct benefits to you, participating in the study may lead to improvements in our understanding of Computer Science pedagogy.
Participation in the study involves no more than minimal risk of disclosure of your information. Responses that you provide will only be reported in an aggregate, statistical form. Your email address will be collected but will not be associated with your responses at any stage.  

      </div><br>
       
      <div>
      Your participation or non-participation will have no negative consequences to your academic grade in any course in the University. You can skip any questions and can withdraw from the study at any time without penalty. Participation is entirely voluntary, and your choice will be kept confidential. You must be 18 years or older to participate.

      </div><br>

       
      <div>
      For more information, please contact Prof. Martin at fred_martin@uml.edu or 978/934-1964.
      </div><br>
 
    </div>
  </div>


  <div class="field">
    <%= f.label :current_status, "What is your current student status?" %><br>
    <%= f.select :current_status, [['First Year Undergraduate','First Year Undergraduate'],
     ['Second Year Undergraduate','Second Year Undergraduate'],

      ['Third Year Undergraduate','Third Year Undergraduate'],
       ['Fourth Year Undergraduate','Fourth Year Undergraduate'],
        ['Graduate Student','Graduate Student'],
          ['Other','Other']] %>
  </div>    
  <div class="field">
    <%= f.label :experience_years, "How many years of programming experience do you have?" %><br>
    <%= f.text_field :experience_years, :required => "required" %>
  </div>
  <div class="field">
    <%= f.label :cs_major, "Please check this box if you are a CS Major." %><br>
    <%= f.check_box :cs_major %>
  </div>
  <div class="field">
    <%= f.label :language, "Please enter the name of the programming language you will use." %><br>
    <%= f.label :language, "We encourage you to use the C programming language." %><br>
    <%= f.text_field :language, :required => 'required' %>
  </div>
  <div class="actions">
    <%= f.submit  "I consent and agree to continue", :class => 'btn btn-primary', :id => 'submit-survey' %>
  </div>
<% end %>
