<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  We will be giving away one Kennedy College of Sciences Sweatshirt in a lottery.
  The jacket will be given away to a randomly selected participant.
  </div><br>
  <div>
   Please make sure to fill in the below box that asks you for your email address if you want to be entered in the drawing for the sweatshirt.
  </div><br>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => 'btn btn-primary'%>
  </div>
<% end %>
