<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  We will be giving away one Kennedy College of Sciences sweatshirt in a lottery. The sweatshirt will

be given away to a randomly selected participant among submissions received before April 1, 2017.

The winner will be announced on April 13, 2017.
  </div><br>
  <div>
   Please enter your email in the box below if you want to be entered in the drawing for the sweatshirt.
  </div><br>

  <%= hidden_field_tag 'access_key', @access_key %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => 'btn btn-primary'%>
  </div>
<% end %>
